# Java
*.class
*.jar
!**/maven-wrapper.jar
*.war
*.ear
target/
*.log

# IDE
.idea/
*.iml
.vscode/
.DS_Store

# Maven
.mvn/

# Application
*.log
logs/

# Results
*.csv
!results/**/*.csv

# Credentials
*.pem
*.key
credentials.json
.env

# Python
venv/
env/
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
pip-log.txt
pip-delete-this-directory.txt
